---
layout: default-posts
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <h3>Listen Now!</h3>
  <div class="post-links">
    <a href="https://itunes.apple.com/us/podcast/boy%24nite/id1412711987?mt=2&uo=4" target="_blank">
      <img src="{{ '/assets/img/platforms/itunes.svg' | relative_url }}" alt="itunes link" title="Listen on iTunes!"></img>
    </a>
    <a href="https://open.spotify.com/show/06LEUAHupYfeaIwHwmV0rw" target="_blank">
      <img src="{{ '/assets/img/platforms/spotify.svg' | relative_url }}" alt="spotify link" title="Listen on Spotify!"></img>
    </a>
    <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy81MTFkNWI0L3BvZGNhc3QvcnNz" target="_blank">
      <img src="{{ '/assets/img/platforms/google-play.svg' | relative_url }}" alt="google play" title="Listen on Google Play!"></img>
    </a>
    <a href="https://www.stitcher.com/podcast/anchor-podcasts/boynite" target="_blank">
      <img src="{{ '/assets/img/platforms/stitcher.png' | relative_url }}" alt="stitcher link" title="Listen on Stitcher!"></img>
    </a>
    <a href="https://anchor.fm/s/511d5b4/podcast/rss" target="_blank">
      <img src="{{ '/assets/img/platforms/rss.svg' | relative_url }}" alt="rss link" title="RSS Link"></img>
    </a>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
